<!DOCTYPE html >    
<html lang="en">
<head>
<meta charset="utf-8">
<title>Preload Ready</title>
<script type="text/javascript">
var audio = document.createElement("audio");
audio.src = "C:\\Users\\Administrator\\123.mp3";
audio.addEventListener("canplaythrough",
function() {
	alert('音频文件已经准备好，随时待命');
},
false);
function aPlay() {
	audio.play();
}
function aPause() {
	audio.pause();
}
function aStop() {
	audio.currentTime = 0;
	audio.pause();
}
function aSkip() {
	audio.currentTime = 50;
	audio.play();
 }
    </script>
</head>
<body>
<input type="button" onclick="aPlay();" value="播放音频">
<input type="button" onclick="aPause();" value="暂停音频">
<input type="button" onclick="aStop();" value="停止音频">
<input type="button" onclick="aSkip();" value="跳到第50秒">
</body>
</html>