<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> - 标签墙</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

</head>

<body class="gray-bg">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>创建标签</h5>
                    <!--div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="graph_flot.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="graph_flot.html#">选项1</a>
                            </li>
                            <li><a href="graph_flot.html#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div-->
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="add_label_form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标签名：</label>
                            <div class="col-sm-8">
                                <input id="label_name" name="label_name" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">内容：</label>
                            <div class="col-sm-8">
                                <textarea  rows='3' style="resize:none" id="label_content" name="label_content" class="form-control" required="" aria-required="true"></textarea>
                            </div>
                        </div>
                        <!--div class="form-group">
                            <script id="editor" type="text/plain" style="width:1024px;height:500px;">请输入内容</script>
                        </div-->
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button class="btn btn-primary" type="button" onclick="add_label()">提交</button>
                            </div>
                        </div>
                        <!--div class="details">
                            <div style="padding-left: 45px;">
                                <script type="text/plain" id="editor"></script>
                                <div class="con-split"></div>
                            </div>
                        </div-->
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <ul class="notes">
                    {% for label in label_list %}
                        <li>
                            <div>
                                <span><small>ID:{{ label.id }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ label.time }}</small></span>
                                <h4>{{ label.title }}</h4>
                                <p>{{ label.content }}</p>
                                <a href="javascript:void(0)" onclick="del_label('{{ label.id }}')"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</body>

</html>
<script>
    //var ue = UE.getEditor('editor');
    /*UE.delEditor('editor');
    ue = UE.getEditor('editor', {
        //langPath: "../static/js/lib/ueditor/lang/",
        theme: "default",
        //themePath: "/static/theme/redmond/ueditor/",
        //toolbars: [['fontfamily', 'fontsize', 'bold', 'italic', 'underline', 'forecolor', 'backcolor', '|', 'paragraph', 'justifyleft', 'justifycenter',  'justifyright', 'justifyjustify', 'rowspacingbottom', 'rowspacingtop', '|','insertorderedlist', 'link', 'unlink', ]],
        //focus时自动清空初始化时的内容
        autoClearinitialContent: true,
        //关闭字数统计
        wordCount: false,
        //关闭elementPath
        elementPathEnabled: false,
        initialFrameWidth: 880,
        initialFrameHeight: 300,
        //initialContent: "$_('mailtip')",
        enableAutoSave: false,
        shortcutMenu: ["fontfamily", "fontsize", "bold", "italic", "underline", "forecolor", "backcolor", "insertorderedlist", "insertunorderedlist"]
    });*/

    //添加修改密码的表单验证
    $().ready(function () {
        // validate signup form on keyup and submit
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#add_label_form").validate({
            rules: {
                label_name: {
                    required: true,
                    maxlength: 20
                },
                label_content: {
                    required: true,
                    maxlength: 120
                }
            },
            messages: {
                label_name: {
                    required: icon + "请输入标签名称",
                    maxlength: icon + "必须20个字符以下"
                },
                label_content: {
                    required: icon + "请输入标签内容",
                    maxlength: icon + "必须120个字符以下"
                }
            }
        });
    });
    //添加标签
    function add_label(){
        if(!$('#add_label_form').valid()){
            return false;
        }
        $.ajax({
            type: 'POST',
            url: '{{url_for("add_label")}}',
            data: 'label_name=' + $("#label_name").val() + '&label_content=' + $("#label_content").val(),
            dataType: 'text',
            success:function(text){
                if(isNaN(text)){
                    swal({
                        title: "操作失败",
                        text: text,
                        type: "error"
                    });
                }else{
                    if(parseInt(text) == 0){
                        swal({
                            title: "操作成功",
                            text: "创建该标签成功！",
                            type: "success"
                        });
                        label_wall()
                    }else{
                        swal({
                            title: "操作失败",
                            text: "创建该标签失败！",
                            type: "error"
                        });
                    }
                }
            }
        });
    }
    //删除标签
    function del_label(label_id){
        swal({
            title: "您确定要删除这条标签吗？",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "是的，我要删除！",
            cancelButtonText: "让我再考虑一下…",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: 'POST',
                    url: '{{url_for("del_label")}}',
                    data: 'label_id=' + label_id,
                    dataType: 'text',
                    success:function(text){
                        if(isNaN(text)){
                            swal("操作失败", "删除该标签失败！", "error");
                        }else{
                            if(parseInt(text) == 0){
                                swal("删除成功！", "您已经永久删除了这条标签。", "success");
                                label_wall()
                            }else{
                                swal("操作失败", "删除该标签失败！", "error");
                            }
                        }
                    }
                });
            }else{
                swal("已取消", "您取消了删除操作！", "error");
            }
        });
    }

</script>