<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title> - Bootstrap Table</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用户列表</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-2">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>单位名称</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-plus" title="添加" data-toggle="modal" data-target="#add_department"></i>
                                    </a>
                                    <a class="dropdown-toggle">
                                        <i class="fa fa-wrench" title="修改"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-trash" title="删除" onclick="del_department();"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <div id="jstree1" style="min-width:101%;overflow-x:auto">
                                    <ul>
                                        <li class="jstree-open">所属部门
                                            <ul>
                                                <li data-jstree='{"type":"html"}'>研发一部</li>
                                                <li data-jstree='{"type":"html"}'>研发二部</li>
                                                <li data-jstree='{"type":"html"}'>研发三部</li>
                                                <li data-jstree='{"type":"html"}'>测试一部</li>
                                                <li data-jstree='{"type":"html"}'>测试二部</li>
                                                <li data-jstree='{"type":"html"}'>测试三部</li>
                                                <li data-jstree='{"type":"html"}'>硬件部</li>
                                                <li data-jstree='{"type":"html"}'>生产部</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-10">
                        <!-- Example Events -->
                        <div class="example-wrap">
                            <div class="example">
                                <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                                    <button type="button" class="btn btn-outline btn-default" data-toggle="modal" data-target="#add_user">
                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline btn-default" onclick="del_user();">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <table id="user_manager_table" data-height="400" data-mobile-responsive="true">
                                    <thead>
                                        <tr>
                                            <th data-field="state" data-checkbox="true"></th>
                                            <th data-field="id">ID</th>
                                            <th data-field="name">名称</th>
                                            <th data-field="mail">邮箱</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加用户 -->
    <div class="modal inmodal" id="add_user" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <!--button type="button" class="close" data-dismiss="modal" onclick="form_reset('add_user_form')"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button-->
                    <h4 class="modal-title">添加用户</h4>
                    <!--small class="font-bold">123</small-->
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form id="add_user_form" class="wizard-big">
                            <h1>账户</h1>
                            <fieldset>
                                <h2>账户信息</h2>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label>用户名 </label><span style="color:red">*</span>
                                            <input id="user_name" name="user_name" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>密码 </label><span style="color:red">*</span>
                                            <input id="new_password" name="new_password" type="password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>确认密码 </label><span style="color:red">*</span>
                                            <input id="confirm_password" name="confirm_password" type="password" class="form-control">
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                            <h1>个人资料</h1>
                            <fieldset>
                                <h2>个人资料信息</h2>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>真实姓名 </label><span style="color:red">*</span>
                                            <input id="real_name" name="read_name" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>性别 </label><span style="color:red">*</span><br />
                                            <div class="radio radio-info radio-inline">
                                                <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                                <label for="inlineRadio1">男</label>
                                            </div>
                                            <div class="radio radio-inline">
                                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                                <label for="inlineRadio2">女</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Email </label><span style="color:red">*</span>
                                            <input id="user_mail" name="user_mail" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>地址 </label><span style="color:red">*</span>
                                            <input id="address" name="address" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <h1>上传头像</h1>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="image-crop">
                                                <img src="/static/img/img/a3.jpg" id="imgcrop">
                                            </div>
                                            <h4>其他说明：</h4>
                                            <div class="btn-group">
                                                <button class="btn btn-white" id="zoomIn" type="button">放大</button>
                                                <button class="btn btn-white" id="zoomOut" type="button">缩小</button>
                                                <button class="btn btn-white" id="rotateLeft" type="button">左旋转</button>
                                                <button class="btn btn-white" id="rotateRight" type="button">右旋转</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>图片预览：</h4>
                                            <div class="img-preview img-preview-sm"></div>
                                            <h4>说明：</h4>
                                            <p>
                                                你可以选择新图片上传，然后下载裁剪后的图片
                                            </p>
                                            <div class="btn-group">
                                                <label title="上传图片" for="inputImage" class="btn btn-primary">
                                                    <input type="file" accept="image/*" name="file" id="inputImage" class="hide"> 上传新图片
                                                </label>
                                                <label title="下载图片" id="download" class="btn btn-primary">裁剪后上传到服务器</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <h1>完成</h1>
                            <fieldset style="overflow:auto;width:100%">
                                <h2>条款</h2>
                                <div>欢迎阅读上海增裕实业有限公司服务条款协议。
                                    一、适用范围
                                    本协议适用于上海增裕实业有限公司网上钢材贸易平台（简称“钢易通”）钢材资源的挂牌、订单生成、提货单生成业务。上海增裕实业有限公司在www.178STEEL.com网站公开投放可订货资源，会员单位进行网上订货、提货单打印等操作。

                                    二、注册流程
                                    1、客户在开户前，请首先在“钢易通”上准确填写注册信息，用于业务联系等。其中的公司名称、公司税号、注册地址、注册电话、开户银行及账号用于开具增值税发票，请务必准确真实填写。注册完毕后，请将贵司已年检的营业执照，国税税务登记证和一般纳税人登记证或年检合格证传真至021-61808000。
                                    2、我司网上贸易服务部在收到您的传真后，会以电话、短信、传真、电子邮件的形式通知您在“钢易通”上的客户代码（即用户名）和初始密码，如果在1小时内没有收到我司的通知，请联系增裕网上贸易服务部021-61808000，如果您已经和我司合作过，那么您无需注册，只需致电我们网上贸易服务部人员，我们会自动为您生成一个用户名和初始密码。
                                    3、用户名是会员的身份标志，一切以该名称登录钢易通所进行的网上操作，都视同客户法人的有效活动。登录后可以在钢易通贸易平台上浏览及订购资源，并且查询自己在我司的相关业务往来信息，为了贵司的交易安全，请在第一次登陆后修改您的密码。若您的客户信息有改变，请及时通知我司网上贸易服务部021-61808000。如果您对以上条款或在以后的交易过程中有什么疑问，请联系增裕网上贸易服务部021-61808000，我们会给您一个满意的答复。 

                                    三、相关定义
                                    1、特价资源：凡资源类型标有“特价”字样，供方已做降价让步处理，需方不提质量异议的资源。
                                    2、正品资源：凡资源类型标有“正品”字样，为国内钢厂出厂的合格品，可以按照钢厂规定处理质量异议的资源。
                                    3、预定资源：会员预定在途资源，及申报资源。
                                    4、意向订单：会员对挂牌资源提出的购买申请。
                                    5、成交订单：本公司贸易员对会员提交的意向订单进行审核后即生成有效的买卖订单。
                                    6、电子提货单：会员按照订单金额全额支付货款并到达我公司帐户后，即生成提货单，由会员自留密码，自行打印，加盖预留印章，即可提货。
                                    7、购物车：在交易平台中用于存放需方拟订购资源，可以存放单个或多个资源。
                                    8、会员资料：会员在我公司网站上的用户名、公司名称、税务资料、联系方式等相关信息。

                                    四、交易规则
                                    1、本网站所提供的货币单位均为人民币元，提供资源的重量计量单位为公制吨，数量计量单位为件。
                                    2、客户首次向我公司发出参与网上现货交易申请之后，应尽快按照我公司的要求办理各项入会手续，经我公司确认后，即成为会员，并可进行订购等业务。
                                    3、会员应注意用户名、密码的保护，如发现密码遗忘或泄漏，需及时与我公司网上贸易服务部进行联系并更新，由于会员泄漏用户名、密码造成的后果由会员单位自负。
                                    4、会员将资源放入购物车制作订单，应在5分钟内递交订单，否则系统将自动撤销订单。同一资源允许多个会员同时放入购物车，当其中一家会员递交订单完成，其他会员将无法再生成该订单（系统将提示订购无法完成，请重新选择资源）。
                                    5、我公司有撤消任何不按照公平、公正、公开、诚信、合法等原则进行订购的会员权利，有撤消被其它公司控制、操纵或利用的会员单位的会员权利。
                                    6、每工作日的9：00至16：00为开盘贸易时间，会员应在成交订单生成当天16：00之前将全额货款付至我公司帐户，由于会员单位付款不及时而导致该订单被自动撤消，我公司不承担任何责任。由于会员单位原因造成无法履行成交订单的，所有责任将由会员承担。
                                    7、上海地区以外的会员单位，我公司可提供代运和加工配送业务，详情请致电我公司网上贸易服务部。
                                    8、需方应认真阅读网上现货交易规则，有不理解或疑问请及时与我公司贸易服务部联系。如会员单位已进行网上交易申请操作，就意味着会员单位接受我公司网上交易的规则。我公司不承担由于需方误解造成的责任。
                                    9、需方应遵守我公司网上交易的相关政策。
                                    10、在议价的过程中，资源不锁定，锁定资源以订单递交成功为准。如议价成功后，资源为其他客户生成订单，我司不负任何责任。
                                    11、对资源类型为特价的，需方理解供方已做降价处理，并承诺一律不提任何质量异议，不办理退货手续。
                                    12、提货时请确认所订货物与实际货物标签是否相符，如不符请勿开包使用。我司所供资源除正品以外一律不提任何质量异议，正品材料请在钢厂原定的质保期内使用，如果超过钢厂规定质保期，本司一律不受理任何质量异议，如不符但开包使用视为接受以上条款。
                                    以上最终解释权归上海增裕实业有限公司所有。</div>
                                <input id="acceptTerms" name="acceptTerms" type="checkbox" class="">
                                <label for="acceptTerms">我同意注册条款</label>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加部门 -->
    <div class="modal inmodal" id="add_department" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <!--button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button-->
                    <!--i class="fa fa-laptop modal-icon"></i-->
                    <h4 class="modal-title">添加部门</h4>
                    <small class="font-bold">这里可以显示副标题。
                </div>
                <div class="modal-body">
                    <form class="form-horizontal m-t" id="add_department_form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">名称：</label>
                            <div class="col-sm-8">
                                <input id="department_name" name="department_name" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">信息：</label>
                            <div class="col-sm-8">
                                <input id="user_mail" name="user_mail" class="form-control" type="text">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="add_department();">保存</button>
                </>
            </div>
        </div>
    </div>


</body>

</html>

<style>
    .jstree-open > .jstree-anchor > .fa-folder:before {
        content: "\f07c";
    }

    .jstree-default .jstree-icon.none {
        width: 0;
    }

    .lightBoxGallery img {
        margin: 5px;
        width: 160px;
    }


</style>

<script>

    //上传图片---------------------------------------------
    var $image = $(".image-crop > img")
    $image.cropper({
        aspectRatio: 1.618,
        preview: ".img-preview",
        crop: function (data) {
            // 输出结果
        }
    });

    var $inputImage = $("#inputImage");
    if (window.FileReader) {
        $inputImage.change(function () {
            var fileReader = new FileReader(),
                files = this.files,
                file;

            if (!files.length) {
                return;
            }

            file = files[0];

            if (/^image\/\w+$/.test(file.type)) {
                fileReader.readAsDataURL(file);
                fileReader.onload = function () {
                    $inputImage.val("");
                    $image.cropper("reset", true).cropper("replace", this.result);
                };
            } else {
                showMessage("请选择图片文件");
            }
        });
    } else {
        $inputImage.addClass("hide");
    }

    $("#download").click(function () {
        //window.open($image.cropper("getDataURL"));
        var Img = $image.cropper("getDataURL");
        var file = dataURLtoBlob(Img);                //将base64格式图片转换为文件形式
        var formData = new FormData();
        var newImg = new Date().getTime() + '.png';   //给图片添加文件名   如果没有文件名会报错
        formData.append('file', file, newImg)         //formData对象添加文件
        var url = '/image_cropper?' + new Date().getTime();
        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            dataType: 'json',
            cache: false,  
            traditional: true,
            processData: false,
            contentType: false,
            success:function(text){
                alert(text)
            }
        })
    });

    $("#zoomIn").click(function () {
        $image.cropper("zoom", 0.1);
    });

    $("#zoomOut").click(function () {
        $image.cropper("zoom", -0.1);
    });

    $("#rotateLeft").click(function () {
        $image.cropper("rotate", 45);
    });

    $("#rotateRight").click(function () {
        $image.cropper("rotate", -45);
    });
//---------------------------------------------------------------------

    (function(document, window, $) {
        (function() {
            $('#user_manager_table').bootstrapTable({
                url: '{{url_for("user_manager")}}',
                method: 'POST',
                height: '',
                search: true,
                pagination: true,
                showRefresh: true,
                showToggle: true,
                showColumns: true,
                striped: true,               // 表格条纹
                pagination: true,            // 在表格底部显示分页组件，默认false
                pageList: [10, 25, 50, 100], // 设置页面可以显示的数据条数
                iconSize: 'outline',
                toolbar: '#exampleTableEventsToolbar',
                icons: {
                    refresh: 'glyphicon-repeat',
                    toggle: 'glyphicon-list-alt',
                    columns: 'glyphicon-list'
                }
            });
        })();
    })(document, window, jQuery);
    
    $(document).ready(function () {
        $("#add_user_form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }
                // Forbid suppressing "Warning" step if the user is to young
                if (newIndex === 4) {
                    return false;
                }
                var add_user_form = $(this);
                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", add_user_form).remove();
                    $(".body:eq(" + newIndex + ") .error", add_user_form).removeClass("error");
                }
                // Disable validation on fields that are disabled or hidden.
                add_user_form.validate().settings.ignore = ":disabled,:hidden";
                // Start validation; Prevent going forward if false
                return add_user_form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                // Suppress (skip) "Warning" step if the user is old enough.
                <!-- if (currentIndex === 2) { -->
                    <!-- $(this).steps("next"); -->
                <!-- } -->
                // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                <!-- if (currentIndex === 2 && priorIndex === 3) { -->
                    <!-- $(this).steps("previous"); -->
                <!-- } -->
            },
            onFinishing: function (event, currentIndex) {
                var add_user_form = $(this);
                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                add_user_form.validate().settings.ignore = ":disabled";
                // Start validation; Prevent form submission if false
                return add_user_form.valid();
            },
            onFinished: function (event, currentIndex) {
                add_user();
            },
            onCanceled: function (event){
                form_reset('add_user_form');
                $(this).steps("previous");
                $(this).steps("previous");
                $(this).steps("previous");
                $('#add_user').modal('hide');
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
                confirm_password: {
                    equalTo: "#new_password"
                }
            }
        });
    });

    $(document).ready(function () {
        $('#jstree1').jstree({
            'core': {
                'check_callback': true
            },
            'plugins': ['types', 'dnd'],
            'types': {
                'default': {
                    'icon': 'fa fa-folder'
                },
                'html': {
                    'icon': 'fa fa-file-code-o'
                },
                'svg': {
                    'icon': 'fa fa-file-picture-o'
                },
                'css': {
                    'icon': 'fa fa-file-code-o'
                },
                'img': {
                    'icon': 'fa fa-file-image-o'
                },
                'js': {
                    'icon': 'fa fa-file-text-o'
                }

            }
        });
    });
        
    //添加用户的表单验证
    $().ready(function () {

        // validate signup form on keyup and submit
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#add_user_form").validate({
            rules: {
                user_name: {
                    required: true,
                    rangelength: [2, 20]
                },
                user_mail: {
                    required: true,
                    email: true
                },
                new_password: {
                    required: true,
                    rangelength: [6, 12]
                },
                confirm_password: {
                    required: true,
                    rangelength: [6, 12],
                    equalTo: "#new_password"
                }
            },
            messages: {
                user_name: {
                    required: icon + "用户名不能为空！",
                    rangelength: icon + "密码长度应为2-20个字符！"
                },
                user_mail: {
                    required: icon + "请输入您的邮箱地址！",
                    email: icon + "邮箱格式不正确！"
                },
                new_password: {
                    required: icon + "请输入您的新密码",
                    rangelength: icon + "密码长度应为6-12个字符！"
                },
                confirm_password: {
                    required: icon + "请再次输入密码",
                    rangelength: icon + "密码长度应为6-12个字符！",
                    equalTo: icon + "两次输入的密码不一致"
                }
            }
        });
    });
    
    //创建用户
    function add_user(){
        var data = $("#add_user_form").serialize();
        $.ajax({
            type: 'POST',
            url: '{{url_for("add_user")}}',
            data: data,
            dataType: 'text',
            success:function(text){
                if(isNaN(text)){
                    swal("操作失败", text, "error");
                }else{
                    if(parseInt(text) == 0){
                        $(".close").click();
                        swal("操作成功", "创建用户成功！", "success");
                        refresh_table('user_manager_table');
                    }else{
                        swal("操作失败", "创建用户失败！", "error");
                    }
                }
            }
        });
    }
    
    //删除用户
    function del_user(){
        var user_obj = $("#user_manager_table").bootstrapTable('getSelections');
        if(user_obj.length <= 0){
            swal("操作失败", "请选择要删除用户！", "error");
            return false;
        }
   
        swal({
            title: "您确定要删除选择的用户吗？",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "是的，我要删除！",
            cancelButtonText: "让我再考虑一下…",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                var user_list = JSON.stringify( user_obj );
                $.ajax({
                    type: 'POST',
                    url: '{{url_for("del_user")}}',
                    data: {'user_list' : user_list},
                    dataType: 'json',
                    traditional:true,//这使json格式的字符不会被转码
                    success:function(text){
                        if(isNaN(text)){
                            swal("操作失败", "删除用户失败！", "error");
                        }else{
                            if(parseInt(text) == 0){
                                swal("删除成功！", "您已经永久删除了选择的用户。", "success");
                                refresh_table('user_manager_table');
                            }else if(parseInt(text) == 1){
                                swal("操作失败", "不能删除管理员！！", "error");
                            }else if(parseInt(text) == 2){
                                swal("操作失败", "不能删除当前登录的用户！", "error");
                            }else{
                                swal("操作失败", "删除用户失败！", "error");
                            }
                        }
                    }
                });
            }else{
                swal("已取消", "您取消了删除操作！", "error");
            }
        });
    }
    
    function del_department(){
        var ref = $('#jstree1').jstree(true);
        var sel = ref.get_selected();
        if(typeof(sel[0]) == 'undefined'){
            swal("操作失败", "请选择要操作的部门！", "error");
            return false;
        }
        var info = $("#"+sel[0]).text().split('\n')[0];
        if(info == '所属部门'){
            swal("操作失败", "请选择要操作的部门！", "error");
            return false;
        }
        swal({
            title: "您确定要删除选择的部门("+ info +")吗？",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "是的，我要删除！",
            cancelButtonText: "让我再考虑一下…",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {

                return false;
                var user_list = JSON.stringify( user_obj );
                $.ajax({
                    type: 'POST',
                    url: '{{url_for("del_user")}}',
                    data: {'user_list' : user_list},
                    dataType: 'json',
                    traditional:true,//这使json格式的字符不会被转码
                    success:function(text){
                        if(isNaN(text)){
                            swal("操作失败", "删除部门失败！", "error");
                        }else{
                            if(parseInt(text) == 0){
                                swal("删除成功！", "您已经永久删除了选择的部门。", "success");
                                modify_right_content('/user_manager');
                            }else{
                                swal("操作失败", "删除部门失败！", "error");
                            }
                        }
                    }
                });
            }else{
                swal("已取消", "您取消了删除操作！", "error");
            }
        });
    }
    function add_department(){
        
    }
</script>